{% extends 'main/base.html' %}

{% block content %}
<div class="columns is-centered">
    <div class="mt-4 column is-8">
        <div class="field has-addons" id="searchBar">
            <p id="searchInputContainer" class="control is-expanded has-icons-left has-icons-right">
                <input class="input" type="search" placeholder="Išči test, letnik, profesorja, predmet...">
                <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
                </span>
            </p>
            <div class="control">
                <button class="button is-primary has-text-light has-text-weight-light">
                    Išči
                </button>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4" id="professorSelect">     
                <label for="professor">Profesor: </label>
                <select name="professor" id="professorInput"></select>
            </div>
            <div class="column is-4" id="yearSelect">     
                <label for="year">Letnik: </label>
                <select name="year" id="yearInput"></select>
            </div>
            <div class="column is-4" id="subjectSelect">     
                <label for="subject">Predmet: </label>
                <select name="subject" id="subjectInput"></select>
            </div>
        </div>
        <div class="my-5">
            <div class="search-result professor-result columns p-2">
                <div class="column is-6 has-text-left">
                    <h3 class="title">Alenka Mozer</h3>
                    <p class="subtitle is-6 has-text-weight-light">Profesor</p>
                </div>
                <div class="column is-6 has-text-right">
                    <p class="has-text-weight-light">Št. testov: 13</p>
                </div>
            </div>
        </div>
        <div class="my-5 search-result">
            <div class="test-result columns p-2">
                <div class="column is-6 has-text-left">
                    <h3 class="title">Alenka Mozer - 3. letnik</h3>
                    <p class="subtitle is-6 has-text-weight-light">Test</p>
                </div>
                <div class="column is-6 has-text-right">
                    <span class="fas fa-chevron-down"></span>
                </div>
            </div>
            <div class="test-dropdown columns">
                <input type="hidden" name="testId" value="5">
                <button class="openTestButton column button m-3 is-black has-text-centered has-text-weight-light is-medium">Odpri test</button>
                <button class="downloadTestButton column button m-3 is-black has-text-weight-light is-medium">Prenesi test</button>
                <button class="printTestButton column button m-3 is-black has-text-weight-light is-medium">Sprintaj test</button>
            </div>
        </div>
    </div>
</div>

<script>
    let professorList = []
    {% for professor in professors %}
    professorList.push({id: {{professor.id}}, name: "{{professor}}"});
    {% endfor %}
    let subjectList = []
    {% for subject in subjects %}
    subjectList.push({id: {{subject.id}}, name: "{{subject}}"});
    {% endfor %}
    const s3signatureURL = "{% url 'tests.signature' %}"
    const createTestURL = "{% url 'tests.create' %}";
</script>
{% csrf_token %}
{% load static %}
<script src="{% static 'js/choicesJS.bundle.js' %}"></script>
<script src="{% static 'js/downloadTest.bundle.js' %}"></script>
<script src="{% static 'js/search.bundle.js' %}"></script>
{% endblock content %}