{% extends 'main/base.html' %}

{% block title %}
Iskanje
{% endblock title %}

{% block content %}
<div class="columns is-centered">
    <div class="mt-4 column is-8">
        <div class="field has-addons" id="searchBar">
            <p id="searchInputContainer" class="control is-expanded has-icons-left has-icons-right">
                <input id="searchInput" class="input" type="text" placeholder="Išči test, letnik, profesorja, predmet...">
                <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
                </span>
            </p>
            <div class="control">
                <button id="searchButton" class="button is-primary has-text-light has-text-weight-light">
                    Išči
                </button>
            </div>
        </div>
        <div id="advancedSearchContainer">
            <a id="advancedSearchButton">Napredno iskanje [+]</a>
        </div>
        <div id="advancedSearch">
            <div class="mb-2 columns">
                <div class="search-column column is-6">
                    <label for="sort">Razvrščanje: </label>
                    <select name="sort" id="sortInput">
                        <option value="default">Privzeto</option>
                        <option value="date_asc">Naraščajoče po datumu</option>
                        <option value="date_desc">Padajoče po datumu</option>
                    </select>
                </div>
                <div class="search-column column is-6">
                    <label for="pagination">Rezultatov na stran: </label>
                    <select name="pagination" id="paginationInput">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
            <div class="columns">
                <div class="search-column column is-4" id="professorSelect">     
                    <label for="professor">Profesor: </label>
                    <select name="professor" id="professorInput"></select>
                </div>
                <div class="search-column column is-4" id="yearSelect">     
                    <label for="year">Letnik: </label>
                    <select name="year" id="yearInput"></select>
                </div>
                <div class="search-column column is-4" id="subjectSelect">     
                    <label for="subject">Predmet: </label>
                    <select name="subject" id="subjectInput"></select>
                </div>
            </div>
        </div>
        <div id="resultsBox">
            <div id="noResultsContainer">
                <h1 class="has-text-weight-light">Ni rezultatov.</h1>
            </div>
            
            <div class="loader-wrapper">
                <div class="loader is-loading"></div>
            </div>
            <div id="resultsContainer">
            </div>
        </div>
        <nav id="searchPagination" class="pagination is-vcentered is-centered" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Prejšnja stran</a>
            <a class="pagination-next">Naslednja stran</a>
            <ul class="pagination-list">
              
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
        </nav>
    </div>
</div>

<template id="paginationLinkTemplate">
    <li><a class="pagination-link" aria-label="">1</a></li>
</template>

<template id="paginationEllipsisTemplate">
    <li><span class="pagination-ellipsis">&hellip;</span></li>
</template>


<template id="testSearchTemplate">
    <div class="my-5 search-result">
        <div class="test-result columns p-2">
            <div class="column is-6 has-text-left">
                <a class="test-link" href="#"><h3 class="title test-title">Alenka Mozer - 3. letnik</h3></a>
                <p class="test-subtitle subtitle is-6 has-text-weight-light">Test</p>
            </div>
            <div class="column is-6 has-text-right">
                <p class="test-date has-text-weight-light"></p>
                <span class="fas fa-chevron-down"></span>
            </div>
        </div>
        <div class="test-dropdown">
            <div class="mb-1 file-progress-container" style="display: none;">
                <p class="file-upload-text mb-0">Prenaša se datoteka...</p>
                <progress data-desired="0" class="file-upload-bar progress is-primary" value="0" max="100"></progress>
            </div>
            <div class="columns">
                <input type="hidden" name="testId" value="1">
                <button class="openTestButton column button m-3 is-black has-text-centered has-text-weight-light is-medium">Odpri test</button>
                <button class="downloadTestButton column button m-3 is-black has-text-weight-light is-medium">Prenesi test</button>
                <button class="printTestButton column button m-3 is-black has-text-weight-light is-medium">Sprintaj test</button>
            </div>
        </div>
    </div>
</template>


<template id="profesor-search-template">
<div class="my-5">
        <div class="search-result professor-result columns p-2">
            <div class="column is-6 has-text-left">
                <h3 class="title">Alenka Mozer</h3>
                <p class="subtitle is-6 has-text-weight-light">Profesor</p>
            </div>
            <div class="column is-6 has-text-right">
                <p class="has-text-weight-light">Št. testov: 13</p>
            </div>
        </div>
    </div>
</template>

<template id="subject-search-template">
<div class="my-5">
        <div class="search-result professor-result columns p-2">
            <div class="column is-6 has-text-left">
                <h3 class="title">Alenka Mozer</h3>
                <p class="subtitle is-6 has-text-weight-light">Subject</p>
            </div>
            <div class="column is-6 has-text-right">
                <p class="has-text-weight-light">Št. testov: 13</p>
            </div>
        </div>
    </div>
</template>



<script>
    let professorList = []
    {% for professor in professors %}
    professorList.push({id: {{professor.id}}, name: "{{professor}}", subject_id: {{professor.subject.id}}});
    {% endfor %}
    let subjectList = []
    {% for subject in subjects %}
    subjectList.push({id: {{subject.id}}, name: "{{subject}}"});
    {% endfor %}
    const s3signatureURL = "{% url 'tests.signature' %}"
    const createTestURL = "{% url 'tests.create' %}";
</script>
{% csrf_token %}
{% load static %}
<script src="{% static 'js/search.bundle.js' %}"></script>
{% endblock content %}