{% extends "main/base.html" %}

{% block title %}
    Naloži nov test
{% endblock title %}

{% block content %}
    <div id="uploadContainer" class="columns is-centered is-desktop">
        <div class="column is-6 box" id="uploadBox">
            <span>
                <i class="fas fa-upload fa-lg"></i>
            </span>
            <input multiple type='file' class='uploader'"/>
            <p class="has-text-weight-light">Klikni na gumb ali povleci datoteke...</p>
        </div>
        <div id="fileProgressContainer" class="column is-6" style="display: none;">
            <p id="fileUploadText"></p>
            <progress data-desired="0" id="fileUploadBar" class="progress is-primary" value="0" max="100"></progress>
        </div>
        <div class="column is-6" id="fileList">     
            <label for="files">Izbrane datoteke: </label>
            <select multiple name="files" id="filesInput"></select>
        </div>
        <div class="column is-6" id="professorSelect">     
            <label for="professor">Profesor: </label>
            <select name="professor" id="professorInput"></select>
        </div>
        <div class="column is-6" id="yearSelect">     
            <label for="year">Letnik: </label>
            <select name="year" id="yearInput"></select>
        </div>
        <div class="column is-6" id="noteContainer">     
            <label for="note">Dodatna pripomba: </label>
            <input type="checkbox" name="hasNote" id="noteCheckbox">
            <input type="text" class="input" name="note" id="noteInput">
        </div>
        <div class="column is-6 mt-3">
            <button id="uploadButton" class="button is-rounded is-primary has-text-light has-text-weight-light is-medium is-fullwidth">Naloži test</button>
        </div>
    </div>
    <script>
        let professorList = []
        {% for professor in professors %}
        professorList.push({id: {{professor.id}}, name: "{{professor}}"});
        {% endfor %}
        const s3signatureURL = "{% url 'tests.signature' %}"
        const createTestURL = "{% url 'tests.create' %}";
    </script>
    {% csrf_token %}
    {% load static %}
    <script src="{% static 'js/upload.bundle.js' %}"></script>
{% endblock content %}