<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        Hello World
    {% endblock  %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<body>
    <div class="main-container">
        <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
            <div class="container is-widescreen">
                <div class="navbar-brand mx-3 logo">
                    <a class="navbar-item" href="{% url 'main.home' %}">
                        <img src="{% static 'images/logo.png' %}" alt="GimVič Logo">
                    </a>
                    <a role="button" data-target="navMenu" class="navbar-burger" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu" id="navMenu">
                    <div class="navbar-start is-size-6">
                        {% with request.resolver_match.url_name as url_name %}
                        <a href="{% url 'main.home' %}" class="navbar-item {% if url_name == 'main.home' %}is-active active disabled{% endif %}">DOMOV</a>
                        <a href="{% url 'tests.search' %}" class="navbar-item {% if url_name == 'tests.search' %}active disabled{% endif %}">ISKANJE</a>
                        <a href="{% url 'tests.upload' %}" class="navbar-item {% if url_name == 'tests.upload' %}active disabled{% endif %}">NALOŽI TEST</a>
                        <a href="#" class="navbar-item">VIŠKI GIMNAZIJCI</a>
                    </div>
                    <div class="navbar-end mr-3">
                        <div class="navbar-item buttons">
                            <a id="facebookLogin" class="button is-primary has-text-light has-text-weight-light">
                                PRIJAVA S FACEBOOKOM
                            </a>
                        </div>
                    </div>
                    {% endwith %}
                </div>
            </div>
        </nav>
        <div class="content-container container is-widescreen">
            <div class="content p-3">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>