$main-bg-color: $grey-lightest;
$content-color: $white-bis;

html, body {
    margin: 0;
    padding: 0;
    background-color: $main-bg-color;
    height: 100%;
}

.main-container {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100vw;
    background-color: $main-bg-color;
    #navContainer {
        flex: 0 0 auto;
        #facebookName {
            margin-bottom: 0.5rem;
        }
    }
    .content-container {
        background-color: $content-color;
        flex: 1 1 auto;
        width: 100%;
    }
}

.disabled{
       pointer-events: none !important;
       cursor: default;
       color:black;
}

.logo {
    img {
        height: 50px;
    }
}