@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

$family-sans-serif: "Open Sans", sans-serif;

// Main color
$primary: #a9d800;
$white-bis: #FBFBFB;

// Navbar
$navbar-item-hover-color: black;
$navbar-item-color: #777777;

// Pagination
$pagination-current-background-color: $primary;
$pagination-current-border-color: $primary;
