$search-result-bg: $white-ter;

.search-column {
    padding-top: 0.25rem;
    padding-bottom: 0;
}

#advancedSearchButton {
    display: block;
}

#advancedSearch {
    padding-top: 0.75rem;
    display: none;
}

#searchPagination {
    display: none;
    margin-top: 0.5rem;
    .pagination-list {
        margin-top: 0;
        margin-left: 0;
        li {
            list-style-type: none;
        }
    }
}

.search-result {
    background-color: $search-result-bg;
    color: #4a4a4a;
    .test-result {
        background-color: $search-result-bg;
        margin-bottom: 0;
    }
    .test-id, .test-date{
        display: inline;
        margin-right: 0.25rem;
    }
    .test-dropdown {
        background-color: $main-bg-color;
        padding: 0.75em;
        display: none;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
        .button {
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

#searchBar {
    margin-bottom: 0;
    #searchInputContainer {
        margin-bottom: 0.5rem;
    }
}

#noResultsContainer {
    display: none;
    padding: 4rem 0;
    text-align: center;
    justify-content: center;
}

// https://cssninja.io/blog/post/simple-loader-bulma
.loader-wrapper {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 4rem 0;
    opacity: 0;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    .loader {
        height: 80px;
        width: 80px;
    }

    &.is-active {
        opacity: 1;
        display: flex;
    }
}