$glide-height: 600px;

.glide {
    height: $glide-height;
    width: 80%;
    margin: auto;
    .glide__track {
        height: $glide-height;
        .glide__slides {
            list-style: none;
            margin-left: 0;
            margin-top: 0;
        }
    }
    .glide__arrow {
        &--right {
            right: -2em;
        }
        &--left {
            left: -2em;
        }
        color: black;
        border: none;
        box-shadow: none; 
    }
    .glide__slide {
        height: $glide-height;
        .gallery-image {
            display: block;
            height: $glide-height;
            object-fit: contain;
            margin: auto;
        }
    }

}

.test-info {
    width: 100%;
    display: inline-block;
    .has-text-left {
        display: inline;
        float: left;
    }
    .has-text-right {
        display: inline;
        float: right;
    }
}

#imageButtons {
    margin: auto;
    .button {
    }
}